@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


/*-------------------
Overall
---------------------*/


* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
    font-family: Helvetica, Arial,  sans-serif;
}

a {
    color:#FF294F !important;
}

p {
    font-family: Helvetica, Arial,  sans-serif;
}

h1 {
    font-size: 500%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica, Arial,  sans-serif;
}

.btn {
    font-family: Helvetica, Arial,  sans-serif;
}

input {
    font-family: Helvetica, Arial,  sans-serif;
}

.list-group-item a{
text-decoration: none;
color:#FF294F;

}

.list-group-item a:hover {
    color:#ffffff !important;
    background-color: #FF294F !important;
    padding:0 0.3rem;
    border-radius:4px;
}

.btn-primary,.btn-primary:active, .btn-primary:visited {
    background-color: #FF294F !important;
    border-color:#FF294F !important;
  
}
.btn-primary:hover{
    color:#FF294F !important;
    background-color: #ffffff !important;
}

.bs-btn-color{
    color:red;
}

/*Blinking cursor color*/
.form-control{
    color:#660a32 !important;
}

.form-control:focus {
    border-color: #FF0000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b38888 !important;
    outline: green;
  }

  .modal-content {
    position: absolute !important;
    z-index: 100000000 !important;
  }

  #wrapper {
    display: none;
  }

  #loadingIndicator {
    position: absolute;
    padding-top:40vh;
    padding-left: 50%;
    color:#FF294F;
  }


/*---------------------
Roosa navigatsiooni äär
-----------------------*/

.roosa_gradient {
    background: rgb(246,202,202);
    background: linear-gradient(90deg, rgba(246,202,202,1) 0%, rgba(244,217,217,1) 5%, rgba(249,222,222,1) 17%, rgba(255,255,255,1) 86%);
    
}

.logo {
    
    width: 40%;
    margin: 1rem auto;
    
}

#loggedInUser {
   margin-top: 3rem;
   margin-left: 5rem;
   color:#8b3b2b;
   font-size:large;
   display: none;
   text-decoration: none;
}

#loggingOut {
margin-top:3.3rem;
}

#logOutIcon:hover{
    border:1px solid #FF294F!important;
    border-radius: 50px;
    padding:0.4rem 0.3rem;
}

#signInLink {
   margin-top: 2rem;
   color:#FF294F;
   font-size:larger;
   display: none;
   text-decoration: none;
}

#signInLink:hover{
    font-size:21px;
    align-items: center !important;
  }

  


/*-----------------------------------
filling second row bottom of the page
-------------------------------------*/


.fill {
    min-height: 60vh;
    height: 100%;
}



/*--------------------
Navigation and menus
----------------------*/



.nav-link-png{
    width: 70%; 
}

.nav-link-png:hover {
    cursor: pointer;
    width: 72%;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    border-radius: 0 0 0 4px;
    box-shadow:0px 3px rgb(247, 220, 220) ;
}

.nav-item {
    z-index: 1100;
}

.nav{
    margin-top: 5rem;
}

#hiddenMenuItemLoggedOut{
    display: none;
}

#menuBtn {
    visibility: hidden;
     
 }
 
 #menuBtn i {
     
      color: #ff1b67;
  }



/*-----------------------------------------------------------
Third(right) information field Sign in/sign Up etc CONTENT
-------------------------------------------------------------*/

form .joinNameInputField {
    margin-bottom: 1rem !important;
  }
  

.bringContentForward {
    z-index: 1001;
}

.lottoParticipantsTable {
    display: block;
    border-bottom: none;  
}

.titleLottoName {  
    font-size:medium;
}

.borderBottomDelete {
    border-bottom: none;
}

.contactForm {
    margin-right: 30rem;
}

.thankyou {
    margin-top: 15rem;
    position: absolute;
    height: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: antiquewhite;
    padding:5rem;
    text-align: center;
    border:#b3888815 solid 2px;
    border-radius: 3px;
    z-index: 1001;
}

.raffleSettingsBtn {
margin-right: 0.5rem;
}

.rulesContent {
    margin-right: 15rem;
}

#myCreatedLotterys {
    /*background-color: antiquewhite;*/
    margin-top: 1rem;
}

#lotteryInfo {
    background-color: antiquewhite;
}

#lottoParticipantsList, #myCreatedLotterysNotCreatedYet {
   display: none;
    font-size:medium;
    border-bottom: none;
    color:gray;
}

#lottoParticipantsTable{
    border-bottom: none;
}

#titleParticipants {
    font-weight: bold;
    border-bottom: none;
}

#linkForShare {
  background-color: #fcfcfc;
  margin-top: 1rem;
}

#myCreatedLotterysNotCreatedYet {
    display:none;
}

#registerAccountForm {
    margin-right: 8rem !important;
    margin-left: 5rem !important;
    margin-top: 1rem;
}

#joinForm {
    margin-top: 3rem;
    margin-right: 10rem !important;
    margin-left: 5rem !important;  
}

#joinInfoTable {
    margin-top: 2rem !important;
}

#signInForm {
    max-width: 500px;
    margin-left: 5rem;
    margin-right: 3rem;
}

#createLottoBtnMylotteryPage {
margin-left: 2rem;
}



/*-------------------------------------
Bottom graphics(mountains and chr tree
---------------------------------------*/

.bottom_graphics_mountains {
    
    z-index: 999;
    position: fixed;
    margin-left: -30rem;
    bottom:0;
    opacity: 0.7;
}

.bottom_graphics_boy {
    position: fixed;
    z-index: 1000;
    margin-left: 16rem;
    bottom:0;
    opacity: 0.4;
}

.bottom_graphics_boy-frontPage {
    position: fixed;
    z-index: 1000;
    margin-left: 16rem;
    bottom:0;

}
/*Mobile*/

.maintitle {
  width: 60%;
    margin-left: 10rem;
    margin-top: 3rem;
}

#menu {
    display:none;
    background-color: aqua;
}




/*-----------------------------------------------------------------------
-------------------------------------------------------------------------
DISPLAYS
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/





/*----------------
Medium device
------------------*/

@media (max-width: 991.98px) {
    
    form {
        max-width: 500px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .maintitle {
        width: 100%;
          margin-left: 0rem;
          margin-top: 1rem;
      }

    .contactForm {
        margin-right: 1rem;
    
    }

    
    #loggedInUser {
        font-size:x-small;
        text-align: center;
        margin-left: 0;
        margin-top: 2rem;
    }


    #loggingOut {
    margin-top: 1.75rem;
    margin-left: 0;
    }

    

 }

/*------------------
Small device
--------------------*/

@media (max-width: 768px) { 

    form {
        max-width: 500px;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    li {
        list-style-type: none;
    }

    .info p{
        margin:3rem 1rem;
    }

    .maintitle {
        width: 100%;
          margin-left: 0rem;
          margin-top: 1rem;
      }

    .nav-link-png-mob {
        width: 80%;
    }

    .exitbtn {
        display: block;
        position:absolute;
        width: 2.5rem;
        height: 2.5rem;
        right: 2rem;
        top: 1rem;
    }

    .mobilenav {
        text-align: center;
        margin-top: 5rem;
    }
    
    .bringContentForward{
        z-index: 5000;
    }
    
    .roosa_gradient_mobile {
        display: block;
        background: rgb(246,202,202);
        background: linear-gradient(180deg, rgba(246,202,202,1) 0%, rgba(244,217,217,1) 5%, rgba(249,222,222,1) 17%, rgba(255,255,255,1) 86%);
    }

    .roosa_gradient {
        background: rgb(246,202,202);
        background: linear-gradient(180deg, rgba(246,202,202,1) 0%, rgba(244,217,217,1) 5%, rgba(249,222,222,1) 17%, rgba(255,255,255,1) 86%);
    }

    .menudiv {
        z-index: 2000; 
        text-align: center; 
    }

   
    .bottom_graphics_boy {
        position: fixed;
        z-index: 1000;
        margin-left: 9rem;
        bottom:0;
    }

    .bottom_graphics_mountains {
       visibility: hidden;
    }

    #menu {
        height: 100vh;
        width: 100%;
        position: absolute;
        display: block;
        background: rgb(246,202,202);
        background: linear-gradient(180deg, rgba(246,202,202,1) 0%, rgba(244,217,217,1) 5%, rgba(249,222,222,1) 17%, rgba(255,255,255,1) 86%);
        z-index: 6000;
        display: block;
        bottom:100vh;
    }

    #menu.show {
        top: 0;  
    }

    #menuBtn:hover {
        background-color: rgb(255, 223, 223);
        cursor: pointer;
        border-radius: 5px;
    }

    #closeMenuBtn {
        width: 100%; 
    }

    #closeMenuBtn:hover {
       cursor: pointer;
       background-color: rgb(255, 223, 223);
       border-radius: 5px;
    }

    #menuBtn {
        visibility:visible;
        margin-top: 0.75rem;
    }
 
    #loggedInUser {
        font-size:x-small;
        text-align: center;
        margin-left: 0;
        margin-top: 1rem;
    }

    #loggingOut {
    margin-top: 0.75rem;
    }

}


/*--------------------
Extra small screen
----------------------*/
@media (max-width: 575.98px) { 

    form {
        max-width: 500px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .info p{
        /*background-color: rgb(22, 54, 44);*/
        margin:3rem 1rem;
    }

    .maintitle {
        margin-top: 0.8rem;
    }

    .menudiv {
        text-align: center;
    }

    #menuBtn {
        visibility:visible;
        width: 60%;
        margin-top: 0.5rem;
    }

    .maintitle {
        width: 100%;
        margin-left: 0;
    }

    #loggedInUser {
        font-size:x-small;
        text-align: center;
        margin-left: 0;
        margin-top: 0.5rem;
    }


    #loggingOut {
    margin-top: 0.5rem;
    }

}